.amarelo {
    background-color: #FFD74A;
}

.azul {
    background-color: #3413FF;
}

.vermelho {
    background-color: #FF0000;
}

.verde {
    background-color: #10CB00;
}

.marrom {
    background-color: #D1795D;
}

.rosa {
    background-color: #FF8DDF;
}

.roxo {
    background-color: #901CEC;
}

.preto {
    background-color: #000000;
}

.branco {
    background-color: #FFFFFF;
}

.cinza {
    background-color: #D9D9D9;
}

.laranja {
    background-color: #FF8934;
}

.lilas {
    background-color: #E6BCFF;
}

.azul-claro {
    background-color: #56C2FF;
}

.lavanda {
    background-color: #D1B8F1;
}

.turquesa {
    background-color: #04FFFF;
}
