.main {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}

.main-cards-numeros {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    flex-wrap: wrap;
    gap: 3em;
    padding: 2em 0;
}

.main-cards-necessidades {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    flex-wrap: wrap;
    gap: 5em;
    padding: 1em 0;
}

.main-cards-cores {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
    flex-wrap: wrap;
    column-gap: 6em;
    row-gap: 3em;
    padding: 1em 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 200px;
    width: 189px;
    border-radius: 15px;
    box-shadow: #73B369 0px 4px 30px;
    cursor: pointer;
}

.card-figure {
    width: 101%;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.audio-verde-img {
    width: 25px;
    position: absolute;
    top: 10px;
    left: 160px;
}

.card-content {
    background-color: #73B369;
    color: #fff;
    height: 35px;
    width: 100%;
    position: absolute;
    top: 11.5em;
    border-radius: 8px 8px 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* Nomes dos Cards */
a.eu_ouco{
 cursor: pointer;    
}

.card_img{
    width: 100%;
    border-radius: 10px;
}